body{
    background: #59bdd7; /* Old browsers */
    background: -moz-linear-gradient(top, #59bdd7 0%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #59bdd7 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #59bdd7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bdd7', endColorstr='#ffffff',GradientType=0 );
    padding: 0px;
    margin:0px;
    width: 100%;
    min-height: 100vh;
    float: left;
    box-sizing: border-box;
}