.react-tabs {
  font-size: 14px;
  &__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
    min-width: 30%;
    max-width: 50%;
    float: left;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__tab {
    display: inline-block;
    border: 1px solid #BFBFBF;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    width: 100%;
    list-style: none;
    padding: 6px 12px;
    box-sizing: border-box;
    float: left;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    &:hover{
      background: #86cfe2;
      color:white;
    }
    &:last-child{
      border-radius: 0px 0px 0px 10px;
    }
    &:first-child{
      border-radius: 10px 0px 0px 0px;
    }

    &--selected {
      background: #ECF0F1;
      color: black;
    }
    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;
    max-width: 50%;
    box-sizing: border-box;
    float: left;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #BFBFBF;
    overflow: hidden;
    &--selected {
      display: block;
      float: left;
      border: 1px solid #BFBFBF;
      box-sizing: border-box;
      //max-width:calc( 100% - 30% );
      min-width:calc( 100% - 50% );
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }
    &__baslik{
      width: 100%;
      background: #0d89b2;
      float: left;
      padding: 6px 12px;
      box-sizing: border-box;
      color:white;
    }
    &__kisisel{
      width: 100%;
      background: white;
      float: left;
      padding: 6px 12px;
      box-sizing: border-box;
      color:black;
      img{
        float: right;
        width: 50%;
        height: auto;
      }
      &__sol{
        width: 50%;
        float: left;
        b{
          float: left;
          width: 100%;
        }
        span{
          width: 100%;
          float: left;
          box-sizing: border-box;
          word-wrap: break-word;
        }
      }
      span{
        width: 100%;
        float: left;
        box-sizing: border-box;
      }
      b{
        float: left;
        width: 100%;
      }
    }
  }
}
