.react-tabs {
  font-size: 14px; }
  .react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
    min-width: 30%;
    max-width: 50%;
    float: left;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    box-sizing: border-box; }
  .react-tabs__tab {
    display: inline-block;
    border: 1px solid #BFBFBF;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    width: 100%;
    list-style: none;
    padding: 6px 12px;
    box-sizing: border-box;
    float: left;
    background: #fff;
    overflow: hidden;
    cursor: pointer; }
    .react-tabs__tab:hover {
      background: #86cfe2;
      color: white; }
    .react-tabs__tab:last-child {
      border-radius: 0px 0px 0px 10px; }
    .react-tabs__tab:first-child {
      border-radius: 10px 0px 0px 0px; }
    .react-tabs__tab--selected {
      background: #ECF0F1;
      color: black; }
    .react-tabs__tab:focus {
      box-shadow: 0 0 5px #0188fe;
      border-color: #0188fe;
      outline: none; }
      .react-tabs__tab:focus:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff; }
  .react-tabs__tab-panel {
    display: none;
    max-width: 50%;
    box-sizing: border-box;
    float: left;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #BFBFBF;
    overflow: hidden; }
    .react-tabs__tab-panel--selected {
      display: block;
      float: left;
      border: 1px solid #BFBFBF;
      box-sizing: border-box;
      min-width: calc( 100% - 50% ); }
    .react-tabs__tab-panel--disabled {
      color: GrayText;
      cursor: default; }
    .react-tabs__tab-panel__baslik {
      width: 100%;
      background: #0d89b2;
      float: left;
      padding: 6px 12px;
      box-sizing: border-box;
      color: white; }
    .react-tabs__tab-panel__kisisel {
      width: 100%;
      background: white;
      float: left;
      padding: 6px 12px;
      box-sizing: border-box;
      color: black; }
      .react-tabs__tab-panel__kisisel img {
        float: right;
        width: 50%;
        height: auto; }
      .react-tabs__tab-panel__kisisel__sol {
        width: 50%;
        float: left; }
        .react-tabs__tab-panel__kisisel__sol b {
          float: left;
          width: 100%; }
        .react-tabs__tab-panel__kisisel__sol span {
          width: 100%;
          float: left;
          box-sizing: border-box;
          word-wrap: break-word; }
      .react-tabs__tab-panel__kisisel span {
        width: 100%;
        float: left;
        box-sizing: border-box; }
      .react-tabs__tab-panel__kisisel b {
        float: left;
        width: 100%; }

/*# sourceMappingURL=react-tabs.css.map */
