@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$break-small: 460px;
$break-medium: 760px;
$break-large: 1070px;
$back-blue:#86cfe2;
$rc-menu-item:#0e89b2;
$haberler-back:#d8f0f6;

.App{
    width: 100%;
    height: auto;
    float: left;
    font-family: 'Roboto', sans-serif;
    .Content{
        width: $break-large;
        height: auto;
        margin: 0 auto;
        background: blue;
        @media screen and (max-width: $break-small) {
            width: 100%;
            float: none;
            background: red;
        }
        @media screen and (max-width: $break-large) {
            width: 100%;
            float: none;
            background: orange;
        }
        .banner-wrapper{
            width: 100%;
            height: 128px;
            float: left;
            @media screen and (max-width: $break-large) {
                height: 90px;
            }
            .nav-wrapper{
                width: 100%;
                height: 109px;
                float: left;
                background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 17%, rgba(255,255,255,1) 52%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,1) 5%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 17%,rgba(255,255,255,1) 52%,rgba(255,255,255,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                -webkit-box-shadow: -58px 51px 102px -42px rgba(0,0,0,0.12);
                -moz-box-shadow: -58px 51px 102px -42px rgba(0,0,0,0.12);
                box-shadow: -58px 51px 102px -42px rgba(0,0,0,0.12);
                @media screen and (max-width: $break-large) {
                    height: 70px;
                    background: white;
                }
                @media screen and (max-width: $break-small) {
                    background: white;
                }
                .logo{
                    width: 367px;
                    height: 108px;
                    float: left;
                    @media screen and (max-width: $break-large) {
                        width: auto;
                        height: 70px;
                    }
                }
                .banner-baslik{
                    max-width: 310px;
                    height: 100%;
                    float: left;
                    color: white;
                    font-size: 40px;
                    padding-top: 10px;
                    margin-left: 70px;
                    text-align: left;
                    color: white;
                    text-shadow: 0px 0px 21px rgba(150, 150, 150, 1);
                    background: -moz-radial-gradient(center, ellipse cover, rgba(89,189,215,1) 0%, rgba(154,215,231,1) 30%, rgba(251,253,254,0) 75%, rgba(255,255,255,0) 77%); /* FF3.6-15 */
                    background: -webkit-radial-gradient(center, ellipse cover, rgba(89,189,215,1) 0%,rgba(154,215,231,1) 30%,rgba(251,253,254,0) 75%,rgba(255,255,255,0) 77%); /* Chrome10-25,Safari5.1-6 */
                    background: radial-gradient(ellipse at center, rgba(89,189,215,1) 0%,rgba(154,215,231,1) 30%,rgba(251,253,254,0) 75%,rgba(255,255,255,0) 77%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bdd7', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    @media screen and (max-width: $break-large) {
                        display: none;
                    }
                }
                .banner-lang{
                    width:300px;
                    float: right;
                    height: auto;
                    padding: 8px;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background: -moz-linear-gradient(left, rgba(255,255,255,0) 23%, rgba(255,255,255,0) 25%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%);
                    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 23%,rgba(255,255,255,0) 25%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
                    background: linear-gradient(to right, rgba(255,255,255,0) 23%,rgba(255,255,255,0) 25%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
                    @media screen and (max-width: $break-large) {
                        width:200px;
                    }
                    @media screen and (max-width: $break-small) {
                        width:105px;
                        .banner-anasayfa{
                            float: right;
                        }
                    }
                    .banner-anasayfa{
                        color: #185e78;
                        font-weight: bold;
                        font-size:15px;
                        text-decoration: none; 
                    }
                    .banner-lang-flag{
                        float: right;
                        width: auto;
                        height: auto;
                        img{
                            margin-left:5px;
                        }
                    }
                }
                .call{
                    width: 93px;
                    height: 126px;
                    float: left;
                    position: relative;
                    bottom:12px;
                    @media screen and (max-width: $break-large) {
                        display: none;
                    }
                }
                .swf{
                    width: 183px;
                    height: 71px;
                    float: right;
                    @media screen and (max-width: $break-large) {
                        display: none;
                    }
                }
            }
        }
        .middle-wrapper{
            width: 100%;
            float: left;
            background: white;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            -webkit-box-shadow: -58px 51px 102px -42px rgba(0,0,0,0.12);
            -moz-box-shadow: -58px 51px 102px -42px rgba(0,0,0,0.12);
            box-shadow: -58px 51px 102px -42px rgba(0,0,0,0.12);
            padding: 10px;
            box-sizing: border-box;
        }
        .sidebar-wrapper{
            width: 250px;
            height: calc(100vh - 108px);
            float: left;
            a{
                color: white;
                text-decoration: none;
                font-weight: bold;
            }
            #inline{
                display: none;
            }
            @media screen and (max-width: $break-large) {
                width: 100%;
                height: auto;
                float: left;
                #inline{
                    display: block;
                    .menu{
                        background: $back-blue;
                        border-radius: 10px;
                        padding: 3px 6px;
                        li{
                            border-radius: 10px;
                            padding: 20px;
                            background: #0d89b2;
                            margin:6px 0px;
                            list-style: none;
                            color:white;
                            font-weight: bold;
                        }
                    }
                    ul{
                        margin-top:0px;
                        background: $back-blue;
                        list-style: none;
                        padding: 3px 6px;
                        border-radius: 10px;
                        li{
                            border-radius: 10px;
                            padding: 20px;
                            background: #0d89b2;
                            margin:6px 0px;
                        }
                    }
                }
            }
            #vertical{
                margin-top:0px;
                @media screen and (max-width: $break-large) {
                    display: none;
                }
                ul{
                    margin-top:0px;
                    background: $back-blue;
                }
            }
        }
        .content-wrapper{
            width: calc(100% - 260px);
            margin-left: 10px;
            height: auto;
            float: left;
            box-sizing: border-box;
            overflow: hidden;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            border: 2px solid $back-blue;
            @media screen and (max-width: $break-large) {
                width:100%;
                margin-left:0px;
            }
            .resim{
                width: 100%;
                float: left;
                box-sizing: border-box;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                border: 2px $back-blue;
                @media screen and (max-width: $break-small) {
                    height: auto;
                }
            }
            .resimslider{
                width: 100%;
                height: 299px;
                float: left;
                box-sizing: border-box;
                border-top-right-radius: 10px;
                border-top-left-radius: 10px;
                border: 2px $back-blue;
                @media screen and (max-width: $break-small) {
                    height: 150px;
                }
            }
            .widget-wrap{
                width: 100%;
                height: auto;
                float: left;
                box-sizing: border-box;
                padding: 5px;
                .widget-box{
                    width:33.3%;
                    float: left;
                    box-sizing: border-box;
                    padding: 5px;
                    @media screen and(max-width:$break-large){
                        width:50%;
                        margin-left: 0px;
                    }
                    @media screen and(max-width:$break-small){
                        width: 100%;
                        margin-left: 0px;
                    }
                    .widgettriple{
                        position: relative;
                        width:100%;
                        height: 150px;
                        box-sizing: border-box;
                        overflow: hidden;
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        border:2px solid $back-blue;
                        .widget-title{
                            width:100%;
                            position: absolute;
                            bottom: 0;
                            left:0;
                            text-align: center;
                            padding: 3px;
                            box-sizing: border-box;
                            background: rgba(0,0,0,0.40);
                            color:white;
                            font-weight: bold;
                            font-size:16px;
                        }
                        a{
                            text-decoration: none;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .widget-box2{
                    width:50%;
                    float: right;
                    box-sizing: border-box;
                    padding: 5px;
                    @media screen and(max-width:$break-small){
                        width: 100%;
                        margin-left: 0px;
                    }
                    .widgetsecond{
                        position: relative;
                        width: 100%;
                        height: 150px;
                        overflow: hidden;
                        box-sizing: border-box;
                        float: left;
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        border:2px solid $back-blue;
                        .widget-title{
                            width:100%;
                            position: absolute;
                            bottom: 0;
                            left:0;
                            text-align: center;
                            padding: 3px;
                            box-sizing: border-box;
                            background: rgba(0,0,0,0.40);
                            color:white;
                            font-weight: bold;
                            font-size:16px;
                        }
                        a{
                            text-decoration: none;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .haberler-wrap{
                width: 100%;
                height: auto;
                float: left;
                box-sizing: border-box;
                overflow: hidden;
                padding: 10px;
                .haberler-content{
                    overflow: hidden;
                    width: 100%;
                    height: 172px;
                    float: left;
                    box-sizing: border-box;
                    background: $haberler-back;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    border: 2px solid $back-blue;
                    .haberler-title{
                        width: 100%;
                        box-sizing: border-box;
                        padding: 5px;
                        text-align: center;
                        background: $rc-menu-item;
                        color:white;
                    }
                    .haberler{
                        width: 100%;
                        height: calc(172px - 29px);
                        box-sizing: border-box;
                        padding: 10px;
                        float: left;
                        img{
                            width: 100%;
                            height: calc(172px - 29px);
                        }
                    }
                }
            }
            .resimaltlik{
                width: 100%;
                height: 10px;
                background: $rc-menu-item;
                float: left;
            }
            .content-total{
                width: 100%;
                height: auto;
                float: left;
                background: rgb(210,229,236);
                background: -moz-linear-gradient(top,  rgba(210,229,236,1) 0%, rgba(255,255,255,1) 99%);
                background: -webkit-linear-gradient(top,  rgba(210,229,236,1) 0%,rgba(255,255,255,1) 99%);
                background: linear-gradient(to bottom,  rgba(210,229,236,1) 0%,rgba(255,255,255,1) 99%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2e5ec', endColorstr='#ffffff',GradientType=0 );
                .content-header{
                    width: 100%;
                    float: left;
                    height: auto;
                    padding: 20px;
                    box-sizing: border-box;
                    span{
                        font-weight: bold;
                        float: left;
                        margin-top:5px;
                    }
                    span:nth-last-child(1){
                        font-weight: 400;
                    }
                    .content-header-cubuk{
                        width: 4px;
                        height: 30px;
                        float: left;
                        margin-left:10px;
                        margin-right:10px;
                        background: $rc-menu-item;
                    }
                }
                hr{
                    margin-left: 20px;
                    margin-right: 20px;
                }
                .content-context{
                    width: 100%;
                    float: left;
                    height: auto;
                    padding: 20px;
                    box-sizing: border-box;
                    .content-p{
                        font-size:14px;
                    }
                    .content-p-big{
                        font-size:18px;
                        font-weight: bold;
                    }
                    .content-p-small{
                        font-size:16px;
                        font-weight: bold;
                    }
                    .content-p-small-red{
                        font-size:16px;
                        font-weight: bold;
                        color:red;
                    }
                    .content-warning{
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border-top-right-radius: 10px;
                        border-top-left-radius: 10px;
                        padding: 10px;
                        text-align: center;
                        background-color: #e11e25;
                        color:white;
                        font-size:14px;
                        font-weight: lighter;
                        font-style: italic;
                    }
                    .galer{
                        width: 100%;
                        height: 120px;
                        img{
                            width: 150px;
                            height: 150px;
                            float: left;
                        }
                    }
                    .contact{
                        width:100%;
                        float: left;
                        box-sizing: border-box;
                        .filter{
                            width:100%;
                            float: left;
                            box-sizing: border-box;
                            form{
                                width: 100%;
                                float: left;
                                box-sizing: border-box;
                                span{
                                    width: 100%;
                                    float: left;
                                    box-sizing: border-box;
                                    margin-bottom: 10px;
                                    span{
                                        width: 20%;
                                        float: left;
                                    }
                                    input{
                                        float: left;
                                        width: 50%;
                                        box-sizing: border-box;
                                    }
                                    textarea{
                                        float: left;
                                        width: 50%;
                                        box-sizing: border-box;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer-wrapper{
            width: 100%;
            height: auto;
            float: left;
            padding: 10px;
            margin-top:10px;
            box-sizing: border-box;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            -webkit-box-shadow: 0px 6px 48px -5px rgba(14,137,178,1);
            -moz-box-shadow: 0px 6px 48px -5px rgba(14,137,178,1);
            box-shadow: 0px 6px 48px -5px rgba(14,137,178,1);
            background: white;
            .footer-logo{
                float: left;
                width: 54px;
                height: 54px;
            }
            .footer-sgk-logo{
                width: 304px;
                height: 60px;
                margin-left:5px;
                float: left;
            }
            .footer-adres{
                float: right;
                text-align: right;
                width: auto;
                height: auto;
                font-size:14px;
                margin-right: 10px;
            }
            .footer-map{
                width: 96px;
                height: 60px;
                float: right;
            }
        }
    }
}

