@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
.App {
  width: 100%;
  height: auto;
  float: left;
  font-family: 'Roboto', sans-serif; }
  .App .Content {
    width: 1070px;
    height: auto;
    margin: 0 auto;
    background: blue; }
    @media screen and (max-width: 460px) {
      .App .Content {
        width: 100%;
        float: none;
        background: red; } }
    @media screen and (max-width: 1070px) {
      .App .Content {
        width: 100%;
        float: none;
        background: orange; } }
    .App .Content .banner-wrapper {
      width: 100%;
      height: 128px;
      float: left; }
      @media screen and (max-width: 1070px) {
        .App .Content .banner-wrapper {
          height: 90px; } }
      .App .Content .banner-wrapper .nav-wrapper {
        width: 100%;
        height: 109px;
        float: left;
        background: -moz-linear-gradient(left, white 0%, white 17%, white 52%, rgba(255, 255, 255, 0) 70%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, white 0%, white 17%, white 5%, rgba(255, 255, 255, 0) 70%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, white 0%, white 17%, white 52%, rgba(255, 255, 255, 0) 70%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
        /* IE6-9 */
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-box-shadow: -58px 51px 102px -42px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: -58px 51px 102px -42px rgba(0, 0, 0, 0.12);
        box-shadow: -58px 51px 102px -42px rgba(0, 0, 0, 0.12); }
        @media screen and (max-width: 1070px) {
          .App .Content .banner-wrapper .nav-wrapper {
            height: 70px;
            background: white; } }
        @media screen and (max-width: 460px) {
          .App .Content .banner-wrapper .nav-wrapper {
            background: white; } }
        .App .Content .banner-wrapper .nav-wrapper .logo {
          width: 367px;
          height: 108px;
          float: left; }
          @media screen and (max-width: 1070px) {
            .App .Content .banner-wrapper .nav-wrapper .logo {
              width: auto;
              height: 70px; } }
        .App .Content .banner-wrapper .nav-wrapper .banner-baslik {
          max-width: 310px;
          height: 100%;
          float: left;
          color: white;
          font-size: 40px;
          padding-top: 10px;
          margin-left: 70px;
          text-align: left;
          color: white;
          text-shadow: 0px 0px 21px #969696;
          background: -moz-radial-gradient(center, ellipse cover, #59bdd7 0%, #9ad7e7 30%, rgba(251, 253, 254, 0) 75%, rgba(255, 255, 255, 0) 77%);
          /* FF3.6-15 */
          background: -webkit-radial-gradient(center, ellipse cover, #59bdd7 0%, #9ad7e7 30%, rgba(251, 253, 254, 0) 75%, rgba(255, 255, 255, 0) 77%);
          /* Chrome10-25,Safari5.1-6 */
          background: radial-gradient(ellipse at center, #59bdd7 0%, #9ad7e7 30%, rgba(251, 253, 254, 0) 75%, rgba(255, 255, 255, 0) 77%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59bdd7', endColorstr='#00ffffff',GradientType=1 );
          /* IE6-9 fallback on horizontal gradient */ }
          @media screen and (max-width: 1070px) {
            .App .Content .banner-wrapper .nav-wrapper .banner-baslik {
              display: none; } }
        .App .Content .banner-wrapper .nav-wrapper .banner-lang {
          width: 300px;
          float: right;
          height: auto;
          padding: 8px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 23%, rgba(255, 255, 255, 0) 25%, white 70%, white 100%);
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 23%, rgba(255, 255, 255, 0) 25%, white 70%, white 100%);
          background: linear-gradient(to right, rgba(255, 255, 255, 0) 23%, rgba(255, 255, 255, 0) 25%, white 70%, white 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); }
          @media screen and (max-width: 1070px) {
            .App .Content .banner-wrapper .nav-wrapper .banner-lang {
              width: 200px; } }
          @media screen and (max-width: 460px) {
            .App .Content .banner-wrapper .nav-wrapper .banner-lang {
              width: 105px; }
              .App .Content .banner-wrapper .nav-wrapper .banner-lang .banner-anasayfa {
                float: right; } }
          .App .Content .banner-wrapper .nav-wrapper .banner-lang .banner-anasayfa {
            color: #185e78;
            font-weight: bold;
            font-size: 15px;
            text-decoration: none; }
          .App .Content .banner-wrapper .nav-wrapper .banner-lang .banner-lang-flag {
            float: right;
            width: auto;
            height: auto; }
            .App .Content .banner-wrapper .nav-wrapper .banner-lang .banner-lang-flag img {
              margin-left: 5px; }
        .App .Content .banner-wrapper .nav-wrapper .call {
          width: 93px;
          height: 126px;
          float: left;
          position: relative;
          bottom: 12px; }
          @media screen and (max-width: 1070px) {
            .App .Content .banner-wrapper .nav-wrapper .call {
              display: none; } }
        .App .Content .banner-wrapper .nav-wrapper .swf {
          width: 183px;
          height: 71px;
          float: right; }
          @media screen and (max-width: 1070px) {
            .App .Content .banner-wrapper .nav-wrapper .swf {
              display: none; } }
    .App .Content .middle-wrapper {
      width: 100%;
      float: left;
      background: white;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      -webkit-box-shadow: -58px 51px 102px -42px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: -58px 51px 102px -42px rgba(0, 0, 0, 0.12);
      box-shadow: -58px 51px 102px -42px rgba(0, 0, 0, 0.12);
      padding: 10px;
      box-sizing: border-box; }
    .App .Content .sidebar-wrapper {
      width: 250px;
      height: calc(100vh - 108px);
      float: left; }
      .App .Content .sidebar-wrapper a {
        color: white;
        text-decoration: none;
        font-weight: bold; }
      .App .Content .sidebar-wrapper #inline {
        display: none; }
      @media screen and (max-width: 1070px) {
        .App .Content .sidebar-wrapper {
          width: 100%;
          height: auto;
          float: left; }
          .App .Content .sidebar-wrapper #inline {
            display: block; }
            .App .Content .sidebar-wrapper #inline .menu {
              background: #86cfe2;
              border-radius: 10px;
              padding: 3px 6px; }
              .App .Content .sidebar-wrapper #inline .menu li {
                border-radius: 10px;
                padding: 20px;
                background: #0d89b2;
                margin: 6px 0px;
                list-style: none;
                color: white;
                font-weight: bold; }
            .App .Content .sidebar-wrapper #inline ul {
              margin-top: 0px;
              background: #86cfe2;
              list-style: none;
              padding: 3px 6px;
              border-radius: 10px; }
              .App .Content .sidebar-wrapper #inline ul li {
                border-radius: 10px;
                padding: 20px;
                background: #0d89b2;
                margin: 6px 0px; } }
      .App .Content .sidebar-wrapper #vertical {
        margin-top: 0px; }
        @media screen and (max-width: 1070px) {
          .App .Content .sidebar-wrapper #vertical {
            display: none; } }
        .App .Content .sidebar-wrapper #vertical ul {
          margin-top: 0px;
          background: #86cfe2; }
    .App .Content .content-wrapper {
      width: calc(100% - 260px);
      margin-left: 10px;
      height: auto;
      float: left;
      box-sizing: border-box;
      overflow: hidden;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border: 2px solid #86cfe2; }
      @media screen and (max-width: 1070px) {
        .App .Content .content-wrapper {
          width: 100%;
          margin-left: 0px; } }
      .App .Content .content-wrapper .resim {
        width: 100%;
        float: left;
        box-sizing: border-box;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border: 2px #86cfe2; }
        @media screen and (max-width: 460px) {
          .App .Content .content-wrapper .resim {
            height: auto; } }
      .App .Content .content-wrapper .resimslider {
        width: 100%;
        height: 299px;
        float: left;
        box-sizing: border-box;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border: 2px #86cfe2; }
        @media screen and (max-width: 460px) {
          .App .Content .content-wrapper .resimslider {
            height: 150px; } }
      .App .Content .content-wrapper .widget-wrap {
        width: 100%;
        height: auto;
        float: left;
        box-sizing: border-box;
        padding: 5px; }
        .App .Content .content-wrapper .widget-wrap .widget-box {
          width: 33.3%;
          float: left;
          box-sizing: border-box;
          padding: 5px; }
          @media screen and (max-width: 1070px) {
            .App .Content .content-wrapper .widget-wrap .widget-box {
              width: 50%;
              margin-left: 0px; } }
          @media screen and (max-width: 460px) {
            .App .Content .content-wrapper .widget-wrap .widget-box {
              width: 100%;
              margin-left: 0px; } }
          .App .Content .content-wrapper .widget-wrap .widget-box .widgettriple {
            position: relative;
            width: 100%;
            height: 150px;
            box-sizing: border-box;
            overflow: hidden;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: 2px solid #86cfe2; }
            .App .Content .content-wrapper .widget-wrap .widget-box .widgettriple .widget-title {
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              text-align: center;
              padding: 3px;
              box-sizing: border-box;
              background: rgba(0, 0, 0, 0.4);
              color: white;
              font-weight: bold;
              font-size: 16px; }
            .App .Content .content-wrapper .widget-wrap .widget-box .widgettriple a {
              text-decoration: none; }
            .App .Content .content-wrapper .widget-wrap .widget-box .widgettriple img {
              width: 100%;
              height: 100%; }
        .App .Content .content-wrapper .widget-wrap .widget-box2 {
          width: 50%;
          float: right;
          box-sizing: border-box;
          padding: 5px; }
          @media screen and (max-width: 460px) {
            .App .Content .content-wrapper .widget-wrap .widget-box2 {
              width: 100%;
              margin-left: 0px; } }
          .App .Content .content-wrapper .widget-wrap .widget-box2 .widgetsecond {
            position: relative;
            width: 100%;
            height: 150px;
            overflow: hidden;
            box-sizing: border-box;
            float: left;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border: 2px solid #86cfe2; }
            .App .Content .content-wrapper .widget-wrap .widget-box2 .widgetsecond .widget-title {
              width: 100%;
              position: absolute;
              bottom: 0;
              left: 0;
              text-align: center;
              padding: 3px;
              box-sizing: border-box;
              background: rgba(0, 0, 0, 0.4);
              color: white;
              font-weight: bold;
              font-size: 16px; }
            .App .Content .content-wrapper .widget-wrap .widget-box2 .widgetsecond a {
              text-decoration: none; }
            .App .Content .content-wrapper .widget-wrap .widget-box2 .widgetsecond img {
              width: 100%;
              height: 100%; }
      .App .Content .content-wrapper .haberler-wrap {
        width: 100%;
        height: auto;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
        padding: 10px; }
        .App .Content .content-wrapper .haberler-wrap .haberler-content {
          overflow: hidden;
          width: 100%;
          height: 172px;
          float: left;
          box-sizing: border-box;
          background: #d8f0f6;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          border: 2px solid #86cfe2; }
          .App .Content .content-wrapper .haberler-wrap .haberler-content .haberler-title {
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            text-align: center;
            background: #0e89b2;
            color: white; }
          .App .Content .content-wrapper .haberler-wrap .haberler-content .haberler {
            width: 100%;
            height: calc(172px - 29px);
            box-sizing: border-box;
            padding: 10px;
            float: left; }
            .App .Content .content-wrapper .haberler-wrap .haberler-content .haberler img {
              width: 100%;
              height: calc(172px - 29px); }
      .App .Content .content-wrapper .resimaltlik {
        width: 100%;
        height: 10px;
        background: #0e89b2;
        float: left; }
      .App .Content .content-wrapper .content-total {
        width: 100%;
        height: auto;
        float: left;
        background: #d2e5ec;
        background: -moz-linear-gradient(top, #d2e5ec 0%, white 99%);
        background: -webkit-linear-gradient(top, #d2e5ec 0%, white 99%);
        background: linear-gradient(to bottom, #d2e5ec 0%, white 99%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2e5ec', endColorstr='#ffffff',GradientType=0 ); }
        .App .Content .content-wrapper .content-total .content-header {
          width: 100%;
          float: left;
          height: auto;
          padding: 20px;
          box-sizing: border-box; }
          .App .Content .content-wrapper .content-total .content-header span {
            font-weight: bold;
            float: left;
            margin-top: 5px; }
          .App .Content .content-wrapper .content-total .content-header span:nth-last-child(1) {
            font-weight: 400; }
          .App .Content .content-wrapper .content-total .content-header .content-header-cubuk {
            width: 4px;
            height: 30px;
            float: left;
            margin-left: 10px;
            margin-right: 10px;
            background: #0e89b2; }
        .App .Content .content-wrapper .content-total hr {
          margin-left: 20px;
          margin-right: 20px; }
        .App .Content .content-wrapper .content-total .content-context {
          width: 100%;
          float: left;
          height: auto;
          padding: 20px;
          box-sizing: border-box; }
          .App .Content .content-wrapper .content-total .content-context .content-p {
            font-size: 14px; }
          .App .Content .content-wrapper .content-total .content-context .content-p-big {
            font-size: 18px;
            font-weight: bold; }
          .App .Content .content-wrapper .content-total .content-context .content-p-small {
            font-size: 16px;
            font-weight: bold; }
          .App .Content .content-wrapper .content-total .content-context .content-p-small-red {
            font-size: 16px;
            font-weight: bold;
            color: red; }
          .App .Content .content-wrapper .content-total .content-context .content-warning {
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: 10px;
            text-align: center;
            background-color: #e11e25;
            color: white;
            font-size: 14px;
            font-weight: lighter;
            font-style: italic; }
          .App .Content .content-wrapper .content-total .content-context .galer {
            width: 100%;
            height: 120px; }
            .App .Content .content-wrapper .content-total .content-context .galer img {
              width: 150px;
              height: 150px;
              float: left; }
          .App .Content .content-wrapper .content-total .content-context .contact {
            width: 100%;
            float: left;
            box-sizing: border-box; }
            .App .Content .content-wrapper .content-total .content-context .contact .filter {
              width: 100%;
              float: left;
              box-sizing: border-box; }
              .App .Content .content-wrapper .content-total .content-context .contact .filter form {
                width: 100%;
                float: left;
                box-sizing: border-box; }
                .App .Content .content-wrapper .content-total .content-context .contact .filter form span {
                  width: 100%;
                  float: left;
                  box-sizing: border-box;
                  margin-bottom: 10px; }
                  .App .Content .content-wrapper .content-total .content-context .contact .filter form span span {
                    width: 20%;
                    float: left; }
                  .App .Content .content-wrapper .content-total .content-context .contact .filter form span input {
                    float: left;
                    width: 50%;
                    box-sizing: border-box; }
                  .App .Content .content-wrapper .content-total .content-context .contact .filter form span textarea {
                    float: left;
                    width: 50%;
                    box-sizing: border-box; }
    .App .Content .footer-wrapper {
      width: 100%;
      height: auto;
      float: left;
      padding: 10px;
      margin-top: 10px;
      box-sizing: border-box;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      -webkit-box-shadow: 0px 6px 48px -5px #0e89b2;
      -moz-box-shadow: 0px 6px 48px -5px #0e89b2;
      box-shadow: 0px 6px 48px -5px #0e89b2;
      background: white; }
      .App .Content .footer-wrapper .footer-logo {
        float: left;
        width: 54px;
        height: 54px; }
      .App .Content .footer-wrapper .footer-sgk-logo {
        width: 304px;
        height: 60px;
        margin-left: 5px;
        float: left; }
      .App .Content .footer-wrapper .footer-adres {
        float: right;
        text-align: right;
        width: auto;
        height: auto;
        font-size: 14px;
        margin-right: 10px; }
      .App .Content .footer-wrapper .footer-map {
        width: 96px;
        height: 60px;
        float: right; }

/*# sourceMappingURL=style.css.map */
