
.dd-menu {
  display: inline-block;
  position: relative;
  width: 100%;
  float: left;
  box-sizing: border-box;
  &.dd-menu-center .dd-menu-items {
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }
  
  @include dd-position(left);
  @include dd-position(right);
  @include dd-sizes();

  .dd-menu-items {
    position: absolute;
    width:100%;
    z-index: $dd-menu-z-index;
    //margin: $dd-menu-margin;
    box-sizing: border-box;
    &.dd-items-upwards {
      bottom: 100%;
      margin: $dd-menu-upwards-margin;
    }

    ul, ol {
      list-style: none;
      padding: 3px;
      margin: 0;
      width: 100%;
      color: $dd-text-color;
      background-color: $dd-list-color;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      box-sizing: border-box;
      //box-shadow: $dd-menu-box-shadow;

      &.dd-items-right li > * {
        text-align: right;
      }

      &.dd-items-left li > * {
        text-align: left;
      }

      &.dd-items-center li > * {
        text-align: center;
      }

      li {
        box-sizing: border-box;
        padding:10px 20px;
        color:white;
        font-weight: bold;
        width: 100%;
        background-color: #0d89b2;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-bottom:3px;
        margin-top:3px;
        &:hover:not([role="separator"]):not(.separator),
        > *:focus {
          color: $dd-list-hover-text-color;
          background-color: $dd-list-hover-color;
          outline: none;
        }

        > *:not(.dd-item-ignore) {
          display: block;
          width: auto;
          min-width: 100%;
          //padding: $dd-menu-item-padding;

          font-family: $dd-font;
          //white-space: pre;
          color: inherit;
          text-decoration: none;
          font-size: inherit;
          a{
            padding: 0px;
          }
        }

        > button {
          border: none;
          background: transparent;
        }
        a{
          padding: 0px;
          margin:0px;
        }
      }
    }
  }

  &.dd-menu-inverse {
    .dd-menu-items {
      ul, ol {
        color: $dd-inverse-text-color;
        background-color: $dd-inverse-list-color;

        li {
          a{
            padding: 0px;
          }
          &:hover:not([role="separator"]):not(.separator),
          > *:focus {
            color: $dd-inverse-list-hover-text-color;
            background-color: $dd-inverse-list-hover-color;
          }
        }
      }
    }

    [role="separator"], .separator {
      background-color: $dd-inverse-separator-color;
    }
  }

  [role="separator"], .separator {
    content: '';
    display: block;
    height: $dd-separator-height;
    background-color: $dd-separator-color;
    margin: $dd-separator-margin-top $dd-separator-margin-right $dd-separator-margin-bottom $dd-separator-margin-left;
  }

  .dd-items-upwards {
    li.nested-dd-menu > span {
      bottom: 0;
      top: initial;
    }
  }

  li.nested-dd-menu {
    position: relative;
    width: auto;
    > span {
      position: absolute;
      top: 0;
      width:100%;
    }
    a{
      img{
        float: right;
      }
    }
  }
}
